<header>
  <nav>
    <a href="/"><h1>Green Harvest</h1></a>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/products">Productos</a></li>
      <li><a href="/cart">Carrito</a></li>
      <li><a href="/users/register">Registro</a></li>
      <li><a href="/users/login">Login</a></li>
    </ul>
  </nav>
</header>
