<body>
  <header>
<nav>
  <a href="/products">Productos</a>
<a href="/cart">
  Carrito
  <% if (cart && cart.items && cart.items.length > 0) { %>
    <span class="cart-badge"><%= cart.items.length %></span>
  <% } %>
</a>
  <% if (user) { %>
    <a href="/users/profile">Perfil (<%= user.firstName %>)</a>
    <a href="/users/logout">Cerrar sesión</a>
  <% } else { %>
    <a href="/users/register">Registro</a>
    <a href="/users/login">Login</a>
  <% } %>
</nav>

  </header>
